<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <link rel="stylesheet" type="text/css" href="static/navbar.css">
    <link rel="stylesheet" type="text/css" href="static/footer.css">
    <link rel="stylesheet" type="text/css" href="static/new_item.css">
    <link rel="stylesheet" type="text/css" href="static/sliders.css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
