<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new_item.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sliders.css') }}">
  </head>
  <body>

    <div class="topnav">
      <a {%- if request.path == "/" %} class="active"{% endif %} href="/">Home</a>
      <a {%- if request.path == "/about/" %} class="active"{% endif %} href="/about">About</a>
      <a {%- if request.path == "/contact/" %} class="active"{% endif %} href="/contact">Contact</a>
      <div class="search-container">
        <form>
          <input type="search_text" placeholder="Search.." name="search">
          <button type="submit_search"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <a {%- if request.path == "/settings/" %} class="active"{% endif %} href="/settings">Settings</a>
    </div>


    {% block content %}
    {% endblock %}
  </body>
</html>
